# Set your custom environment variables here. Such as API Keys:

# ENV['DEVISE_SECRET_KEY'] = 'AAAABBBBCCCCDDDD'
# ENV['APP_SECRET_TOKEN']  = 'AAAABBBBCCCCDDDD'

# ENV['SMTP_USERNAME'] = 'your@email.com'
# ENV['SMTP_PASSWORD'] = 'secret'
