<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin', role: 'form'}) do |f| %>
  <h2 class="form-signin-heading">Nova App</h2>

  <%= f.text_field :username, class: 'form-control', placeholder: 'Nome de Usuário', autofocus: true %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>

  <%= f.submit 'Acessar o Sistema', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
