#error_explanation {
  background-color: #f2dede;
  margin-bottom: 20px;
  padding: 5px 15px 15px !important;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #b94a48;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  h2 {
    margin-top: 5px;
    font-size: 1.4em;
    line-height: 1.2em;
  }

  ul {
    margin-bottom: 0;
  }
}
